body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  margin-top: 25px;
  width: 50%;
  height: 600px;
}

.marker-custom {
  background-image: url('https://cdn-icons-png.flaticon.com/512/1046/1046762.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  cursor: pointer;
}