* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgray;
}

nav div {
  margin: 0 15px;
}

#map {
  width: 100%;
}

.nav-img-container {
  width: 50%;
  text-align: end;
}


.geocoder {
  width: 50%
}

.mapboxgl-ctrl-geocoder {
  min-width: 100%;
  width: auto !important;
}

.container {
  display: flex;
  height: calc(100vh - 150px);
}

@media screen and (max-width: 600px) {
  nav {
    height: 200px;
    flex-direction: column;
    padding: auto;
  }
  nav div:not(:last-of-type)  {
    margin-bottom: 15px;
  }
  .nav-img-container {
    width: 100%;
    text-align: center;
  }
  .geocoder {
    width: 100%
  }  
}